extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/todos.css')
block content
    #app
      .form-box
        if (typeof username!="undefined")
            .form-group.location
              input#new-post-url(type="text", placeholder="Add URL here")
              a.submit(href="javascript:null;")
                | Submit              
        else
          br
          .login-prompt
            a(href="/login")
              | Login to Post!
      section#main
        div#list
  script
    userid="#{userid}";

block bodyscripts
  script#item-template(type="text/template")
    |<div class="view">
    |  <div class="control-box">
    |  <% if (myPost == true) { %>
    |  <a class="edit" href="javascript:null;" class="destroy">&#9998;</a>
    |  <a class="destroy" href="javascript:null;" class="destroy">&#10006;</a>
    |  <% } %>
    |  </div>  
    |  <input class="title-edit">
    |  <div class="body"> <%= body %> </div>
    |  <textarea class="body-edit"> <%= title %> </textarea>
    |  <div> <%= url %> </div>
    |  <a href="javascript:null;" class="submit-update">Update</a>
    |  <div> <%= timeAgo %> </div>  
    |</div>
  script(type="text/javascript", src="javascripts/todos.js")