extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/todos.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/jquery.dropdown.css')
block content
    #cover
    #app
      .form-box
        if (typeof username!="undefined")
            .form-group.location
              input#new-post-url(type="text", placeholder="Add URL here")
              input#new-post-block(type="text", placeholder="Add id", style="display:none;")

              a.submit(href="javascript:null;")
                | Submit              
        else
          br
          .login-prompt
            a(href="/login")
              | Login to Post!
      - var klass = (block ? 'block-url' : '')
      section#main(class=klass)
        .back-link
          a(href="../") 
            i.icon-arrow-left 
            |back
        if (typeof username!="undefined")
          a#new-bucket-link(href="javascript:null")
            | New Bucket 
            i.icon-plus
        #new-bucket
          .block-header            
            a
              |view bucket
              i.icon-arrow-right
          .prompt
            | Add a URL above 
            br
            |or
            br 
            | Drag a URL to the page

        ul#list


block bodyscripts
  script
    username="#{username}", block="#{block}";;
  script#item-template(type="text/template")
    |<div class="view">
    |  <div class="dropdown dropdown-tip">
    |  <ul class="dropdown-menu">
    |  <% if (myPost == true) { %>
    |  <li> <a class="edit" href="javascript:null;" class="destroy"><i class="icon-edit"></i></a></li>
    |  <li> <a class="destroy" href="javascript:null;" class="destroy"><i class="icon-remove"></i> </a> </li>
    |  <% } %>
    |  </ul>
    |  </div>  
    |  <input class="title-edit">
    |  <div class="body"> <%= body %> </div>
    |  <textarea class="body-edit"> <%= title %> </textarea>
    |  <a href="javascript:null;" class="submit-update">Update</a>
    |  <% if (favicon) { %>
    |  <img class="icon" src="<%= favicon %>">  </img>  
    |  <% } else { %>
    |  <i class="icon-file icon"></i>
    |  <% } %>
    |  <div class="title" >&nbsp;&nbsp;<span><%= title %> </span> </div> 
    |  <a target="_blank" href="<%= url %>"><i class="icon-external-link"></i></i><a/>
    |  <span> | <%= timeAgo %> </span>  
    |  <span> | <%= user.username %> |  </span>  
    |  <a class="menu"href="javascript:null;"><i class="icon-sort-down"></i></i><a/>
    |</div>
  script#block-template(type="text/template")
    |<div class="block-header">
    |<div class="block-header-right">
    |<a class="block-link" href="javascript:null;"> Select Bucket <i class="icon-plus"></i> </a>
    ||&nbsp;
    |<a class="block-link" href="<%= id %> "> view bucket <i class="icon-arrow-right"></i> </a>
    |</div>
    |<h4 class="block-title"><%= title %></h4>
    |</div>
    |<ul class="block-view"></ul>
    |</div>
  script(type="text/javascript", src="javascripts/todos.js")