body
  font-family Helvetica Neue
  margin 15px
button
  font-size 1.1em
h1
  margin 5px
a
	text-decoration none
header
	height 50px
	border-bottom solid 1px #eee
	.header-control
		float right
		padding 5px

	.title
		float left
		font-size 30px
		color #888
		background-color #333
		width 100px
		padding 5px
		border-radius 5px

#app
	max-width 1000px
	min-width 740px
	margin 20px auto
#top
	padding 5px 0px
#main
    .back-link 
    	margin 10px 0px 0px
    ul
    	list-style none
   	#list
   		padding 0px
.block-header
	height 1em
	border-bottom 1px solid #eee
	padding 4px
	margin 5px
	.update
		display none
	.new-title
		display none
.editing-block
	.update
		display inline
	.new-title
		display inline
	.block-title
		display none
	.edit
		display none

.back-link
	display none

.block-title
	margin 0px


.block-header-right
	float right

	.block-url
		.block-link
			display none
		.back-link
			display block

#list>li
	padding 2px
	margin-top 3px
.selected-bucket
	background-color rgb(250, 250, 250)
	border-left 4px solid #999
	margin-left -4px
	.block-header
		border-color #333
	.bucket-select
		display:none
	.select-message
		display inline

.select-message
	display none


#new-bucket
	display none
	a
		color #999
	.prompt
		text-align center
		padding 20px
		color #999
		font-size 1.2em

#new-bucket.selected-bucket
	display block

.login-prompt
	font-size 2em
.view
	padding 2px 2px
	.icon
		width 16px
		float left
	.title
		float left
		white-space: nowrap;
		overflow: hidden;
		width: 62%;
		text-overflow ellipsis
	.ext-link
		visibility hidden
.view:hover .ext-link
	visibility visible
#cover
	opacity .5
	width 100%
	height 100%
	background-color black
	position absolute
	top 0px
	left 0px
	z-index 10
	display none
#holder
	width 100
	height 100px
	background-color blue
.view
	a
		text-decoration none
.block-view
	padding 5px
	padding-bottom 10px

.form-group.location 
	input
		font-size 1.4em
		border 1px solid
		padding 1px
		width 400px
		padding 3px
	a
		font-size 1.4em
		padding 4px
		text-decoration none
		border 1px solid
		border-left 0px
		border-color #555
		color #555
		margin-left -1px

.body
	display none
.body-edit
	display none
.title-edit
	display none
.submit-update
	display none
.editing
	.body-edit
		display inline-block
	.title-edit
		display inline-block
	.body
		display none
	.title
		display none
	.submit-update
		display inline-block
.form-box
	margin-top 15px
