body
  font-family Helvetica Neue
button
  font-size 1.1em
h1
  margin 5px
header
	.header-control
		float right
#list
  list-style none
.view
	margin 5px
.form-group.location 
	input
		font-size 1.4em
		border 1px solid
		padding 1px
		width 400px
		padding 3px
	a
		font-size 1.4em
		padding 4px
		text-decoration none
		border 1px solid
		border-left 0px
		border-color #555
		color #555
		margin-left -1px

.body
	display none
.body-edit
	display none
.title-edit
	display none
.submit-update
	display none
.editing
	.body-edit
		display inline-block
	.title-edit
		display inline-block
	.body
		display none
	.title
		display none
	.submit-update
		display inline-block
.form-box
	margin-top 15px
.control-box
	position absolute
	right 0px
